@use 'global' as *;
.campaign {

}

.campaign__outer {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(120);
  }
}

.campaign__inner {
  margin-right: auto;
  margin-left: auto;
}



.campaign__swiper {
  margin-top: rem(28);
  @include mq('md') {
    margin-top: rem(34);
  }
}

.campaign__swiper-slide {
  width: 100%;
  object-fit: cover;
}

.campaign-card__inner {
  padding: rem(16) rem(16) rem(24);
  @include mq('md') {
    padding: rem(26) rem(16) rem(40);
  }
}

.campaign-card__body {
  margin-top: rem(8);
  @include mq('md') {
    margin-top: rem(16);
  }
}

.campaign-card__title {
  font-size: rem(18);
  font-weight: 500;
  font-family: $base-font-family;
  line-height: 1.333;
  position: relative;
}

.campaign-card__title::after {
  content: "";
  position: absolute;
  bottom: rem(-8);
  left: 0;
  right: 0;
  height: 1px;
  background-color: $main;
}

.campaign__button {
  margin-top: rem(30);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}
