@use 'global' as *;

.footer {
  background-color: $main;
}

.footer__outer {
  padding-top: rem(48);
  padding-bottom: rem(56);
}

.footer__head {
  @include mq('md') {
    display: flex;
    gap: rem(40);
  }
}

.footer__logo {
  width: rem(120);
}

.footer__sns {
  margin-top: rem(16);
  display: flex;
  gap: rem(16);
  align-items: center;
}

.footer__sns a {
  width: rem(24);
  height: rem(24);
}

.footer__sp-nav {
  width: 100%;
}

.footer__sp-nav-items {
  column-count: 2;
  column-gap: 0;
  padding: rem(20) 0;
  @include mq('md') {
    column-count: 4;
  }
}

.footer__sp-nav-mobile {
  display: block;
  @include mq('md') {
    display: none;
  }
}

.footer__copyright {
  text-align: center;
  font-size: rem(14);
  font-weight: normal;
  font-family: $second-font-family;
  color: $base;
  line-height: 1.5;
}