@use 'global' as *;

.layout-footer {
  margin-top: rem(104);
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq('md') {
    margin-top: rem(160);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.layout-footer--page-contact {
  margin-top: rem(140);
  @include mq('md') {
    margin-top: rem(160);
  }
}

.layout-footer--page-contact-thanks {
  margin-top: rem(142);
  @include mq('md') {
    margin-top: rem(120);
  }
}

.layout-footer--page-404 {
  margin-top: 0;
  padding-top: rem(88);
  padding-bottom: rem(56);
  @include mq('md') {
    margin-top: 0;
    padding-top: rem(118);
    padding-bottom: rem(80);
  }
}
