@use "global" as *;

.voice {
  position: relative;
}

.voice__outer {
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq('md') {
    padding-top: rem(136);
    padding-bottom: rem(142);
  }
}

.voice::before {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    top: rem(20);
    left: rem(100);
    width: 20.9%;
    height: 15.164%;
    background-image: url(/assets/images/common/voice-tai.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.voice::after {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    bottom: rem(73);
    right: rem(180);
    width: 4.93%;
    height: 17.8%;
    background-image: url(/assets/images/common/voice-tatu.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.voice-card__head {
  width: 100%;
  margin-top: rem(-4);
  @include mq('md') {
    margin-top: rem(16);
  }
}

.voice__meta {
  @include mq('md') {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.voice__heading {
  margin-top: rem(8);
  @include mq('md') {
    margin-top: rem(16);
  }
}

.voice__title {
  font-size: rem(16);
  font-weight: 500;
  font-family: $base-font-family;
  line-height: 1.333;
  position: relative;
  @include mq('md') {
    font-size: rem(24);
  }
}

.voice__title::after {
  content: "";
  position: absolute;
  bottom: rem(-4);
  left: 0;
  right: 0;
  height: 1px;
  background-color: $main;
}

.voice__item-inner{
  padding: rem(16) rem(16) rem(26);
  @include mq('md') {
    padding: rem(24);
  }
}

.voice__wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: rem(13);
  @include mq('md') {
    gap: rem(16);
  }
}

.voice__items {
  margin-top: rem(44);
  @include mq('md') {
    margin-top: rem(30);
    display: flex;
    align-items: flex-end;
    gap: rem(40);
  }
}

.voice__item:not(:first-child) {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: 0;
  }
}

.voice__image {
  margin-top: rem(6);
  @include mq('md') {
    margin-top: 0;
    width: rem(305);
  }
}

.voice__body {
  margin-top: rem(16);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.voice__text {
  font-size: rem(16);
  font-weight: $normal;
  font-family: $base-font-family;
  line-height: 1.5;
}

.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}
