@use "global" as *;

.about {
  position: relative;
}

.about::after {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    right: calc(50% - min(48vw, 40rem));
    bottom: rem(-85);
    width: rem(194);
    height: rem(181);
    background-image: url(../images/common/about-us-isoginchaku.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
  }
}

.about__inner {
  max-width: rem(600);
}

.about__wrapper {
  position: relative;
}

.about__images {
  margin-top: rem(28);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.about__image-left {
  position: relative;
  width: 37%;
  z-index: 2;
}

.about__image-left img {
  aspect-ratio: 128 /194;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include mq('md') {
    aspect-ratio: 400 / 606;
  }
}

.about__image-right {
  position: relative;
  margin-left: auto;
  margin-top: -48.5%;
  width: 81.5%;
  z-index: 1;
}

.about__image-right img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include mq('md') {
    aspect-ratio: 880 / 581;
  }
}

.about__body {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: 0;
    position: absolute;
    top: rem(180);
    right: 0;
    width: 81.5%;
    display: flex;
    align-items: center;
    gap: rem(40);
    z-index: 4;
  }
}

.about__heading {
  font-size: rem(40);
  font-family: $second-font-family;
  font-weight: $normal;
  line-height: 1;
  color: $main;
  @include mq('md') {
    font-size: rem(80);
    line-height: 1.25;
    color: $base;
    min-width: rem(400);
    width: 100%;
  }
}

.about__content {
  margin-top: rem(16);
  @include mq('md') {
    margin-top: rem(32);
    padding-right: rem(40);
  }
}

.about__text {
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $normal;
  color: #0D2936;
  line-height: 1.5;
  @include mq('md') {
    color: $base;
  }
}

.about__button {
  margin-top: rem(50);
  text-align: center;
  @include mq('md') {
    margin-top: rem(40);
  }
}