@use "global" as *;

.blog {
  @include mq('md') {
    position: relative;
  }
}

.blog::before {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54%;
    background-image: url(../images/common/blog-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
  }
}

.blog::after {
  @include mq('md') {
    content: "";
    display: block;
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48vw, 40rem));
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/blog-tai.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.blog__inner {
  max-width: rem(600);
}

.blog__items {
  margin-top: rem(30);
  @include mq('md') {
    margin-top: rem(78);
  }
}

.blog__button {
  margin-top: rem(42);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}