@use 'global' as *;

.breadcrumb {
  position: relative;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.4286;
  font-family: $base-font-family;
  color: $font;
}

.breadcrumb.breadcrumb--page-404 {
  color: $base;
}

.breadcrumb::after {
  content: '';
  position: absolute;
  background-image: url(../images/common/kingyohanadai-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: rem(48);
  left: calc(50% - min(48vw ,39rem));
  width: rem(120);
  height: rem(55);
  z-index: -1;
  @include mq('md') {
    background-image: url(../images/common/kingyohanadai.png);
    top: rem(102);
    width: rem(301);
    height: rem(138);
  }
}

.breadcrumb--sitemap::after {
  @include mq('md') {
    background-image: none;
  }
}

.breadcrumb--page-404::after {
  background-image: none;
}