@use 'global' as *;

.campaign {

}

.campaign__inner {

}

.campaign__swiper {

}

.campaign__swiper-slide {
  width: 100%;
}

.campaign__button {
  margin-top: rem(30);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}
