@use 'global' as *;

.common-page {

}

.common-page__inner {
  padding-left: rem(48);
  padding-right: rem(47);
}

.common-page__container {

}

.common-page__items {
  display: grid;
  column-gap: rem(40);
  row-gap: rem(40);
  grid-template-columns: 1fr;
  justify-items: center;
  @include mq('md') {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
  }
}

.common-page__item {
  height: 100%;
}