@use "global" as *;

.common-tab {
  
}

.common-tab__inner {
  
}

.common-tab__lists {
  display: grid;
  column-gap: rem(21);
  row-gap: rem(16);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  @include mq('md') {
    column-gap: rem(32);
    grid-template-columns: repeat(6, 1fr);
    justify-content: start;
  }
}

.common-tab__list {
  display: inline-block;
  font-size: rem(14);
  font-family: $second-font-family;
  font-weight: $normal;
  background-color: $base;
  color: $main;
  line-height: 1;
  border: 1px solid $main;
  padding: rem(9) 0;
  min-width: rem(162);
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: .3s;
}

.common-tab__list:hover {
  cursor: pointer;
  background-color: $main;
  color: $base;
}

.common-tab__list.current {
  background-color: $main;
  color: $base;
  cursor: default;
}


