@use 'global' as *;

.gallery {

}

.gallery__inner {
  max-width: rem(600);
}

.gallery__title {
  
}

.gallery__wrapper {
  margin-top: rem(40);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  @include mq('md') {
    margin-top: rem(80);
    grid-template-columns: repeat(11,1fr);
    grid-auto-flow: dense;
  }
}

.gallery__slide {
  cursor: pointer;
}

.gallery__slide:nth-child(6n+1) img,
.gallery__slide:nth-child(6n) img {
  aspect-ratio: 345 / 523 ;
  height: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 492 / 746 ;
  }
}

.gallery__slide:nth-child(6n+2) img,
.gallery__slide:nth-child(6n+3) img,
.gallery__slide:nth-child(6n+4) img,
.gallery__slide:nth-child(6n+5) img {
  aspect-ratio: 345 / 219 ;
  height: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 580 / 369 ;
  }
}

.gallery__slide:nth-child(6n+1),
.gallery__slide:nth-child(6n) {
  @include mq('md') {
    grid-row: span 2;
    grid-column: span 5;
  }
}

.gallery__slide:nth-child(6n+2),
.gallery__slide:nth-child(6n+3),
.gallery__slide:nth-child(6n+4),
.gallery__slide:nth-child(6n+5) {
  @include mq('md') {
    grid-row: span 1;
    grid-column: span 6;
  }
}

// .gallery__wrapper-bottom {
//   margin-top: rem(8);
//   display: grid;
//   gap: rem(8);
//   @include mq('md') {
//     grid-template-areas:
//     "D F"
//     "E F";
//     grid-template-rows: 369px 369px;
//     grid-template-columns: calc(580 / 1080 * 100%) calc(492 / 1080 * 100%) ;
//   }
// }

