@use "global" as *;

.information {
  background-color: #DDF0F1;
}

.information__inner {
  max-width: rem(600);
}

.information__contents {
  margin-top: rem(26);
  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(40);
    margin-top: rem(36);
  }
}

.information__wrapper {

}

.information__image {
  width: 100%;
}

.information__image img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 540 / 356;
  }
}

.information__content {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: 0;
    padding-left: rem(8);
    width: 100%;
  }
}

.information__heading {
  font-size: rem(20);
  font-weight: $bold;
  font-family: $base-font-family;
  line-height: 1.2;
  position: relative;
  @include mq('md') {
    font-size: rem(24);
  }
}

.information__heading::after {
  content: "";
  position: absolute;
  bottom: rem(-8);
  left: 0;
  right: 0;
  height: 1px;
  background-color: $main;
}

.information__text {
  margin-top: rem(14);
  font-size: rem(16);
  font-weight: $normal;
  font-family: $base-font-family;
  line-height: 1.5;
  @include mq('md') {
    margin-top: rem(16);
  }
}

.information__button {
  margin-top: rem(40);
  text-align: center;
}