@use "global" as *;

.loader {
  width: 100%;
  height: calc(100vh + 1px);
  background-color: $white;
  position: fixed;
  z-index: 9999;
  overscroll-behavior: none;
}

.loader.is-active {
  animation: fadeOut 0.7s forwards ease;
}

.loader__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  background-image: url(/assets/images/common/loading-left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.loader__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50.1%;
  height: 100%;
  opacity: 0;
  background-image: url(/assets/images/common/loading-right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.loader__left.is-active {
  opacity: 1;
  animation: slideLeft 0.6s both ease-out;
}

.loader__right.is-active {
  opacity: 1;
  animation: slideRight 0.6s both ease-out;
}

.loader__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 1;
  color: $white;
  font-weight: $normal;

  @include mq("md") {
    top: 55.5%;
  }
}

.loader__main {
  font-family: $fourth-font-family;
  font-size: rem(40);
  font-weight: $normal;
  line-height: calc(48 / 40);
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  text-transform: uppercase;

  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.loader__sub {
  font-size: rem(20);
  line-height: calc(33 / 20);
  font-family: $third-font-family;
}

.loader__title.is-active {
  animation: fadeIn 0.7s forwards ease-in-out;
}

.loader__title--green {
  @extend .loader__title;
  color: $accent;
  top: 50%;

  @include mq("md") {
    top: 50%;
  }
}

.loader__title--green.is-active {
  animation: fadeInOut 0.5s forwards ease-in;
}

@keyframes slideLeft {
  0% {
    transform: scale(0);
    transform-origin: bottom left;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom left;
  }
}

@keyframes slideRight {
  0% {
    transform: scale(0);
    transform-origin: bottom right;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom right;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}