@use "global" as *;

.page-contact-thanks {

}

.page-contact-thanks__inner {
  max-width: rem(600);
  @include mq('md') {
    max-width: rem(700);
  }
}

.page-contact-thanks__message {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  text-align: center;
}

.page-contact-thanks__message-top {
  color: $font;
  font-family: $base-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.125;
}

.page-contact-thanks__message-bottom {
  color: $font;
  font-family: $base-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.4375;
}