@use 'global' as *;

.page-voice {

}

.page-voice__inner {
  max-width: rem(600);
  // padding-left: rem(48);
  // padding-right: rem(47);
}

.page-voice__container {

}

.page-voice__items {
  display: grid;
  column-gap: rem(40);
  row-gap: rem(40);
  grid-template-columns: 1fr;
  justify-items: center;
  @include mq('md') {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
  }
}

.page-voice__item {
  height: 100%;
}