@use 'global' as *;

.page-404 {
  background-color: $main;
}

.page-404__inner {
  position: relative;
  padding-top: rem(50);
  padding-bottom: rem(40);
  max-width: rem(600);
  @include mq('md') {
    padding-top: rem(120);
    padding-bottom: rem(148);
  }
}

.page-404__image {
  position: absolute;
  top: rem(-26);
  max-width: rem(345);
  @include mq('md') {
    max-width: rem(665);
    left: rem(32);
  }
}

.page-404__image img {
  aspect-ratio: 345 / 345;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 698 / 698;
  }
}

.page-404__title {
  color: $base;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(80);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.2;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq('md') {
    font-size: rem(160);
    line-height: 1.2;
  }
}

.page-404__text {
  color: $base;
  text-align: center;
  font-family: $second-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.5; /* 150% */
  @include mq('md') {
    margin-top: rem(24);
  }
}

.page-404__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}