@use 'global' as *;

.page-voice {

}

.page-voice__inner {
  max-width: rem(600);
  // padding-left: rem(48);
  // padding-right: rem(47);
}

.page-voice__container {

}

.page-voice__pagenavi {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: rem(72);
  }
}