@use "global" as *;

.page-contact {

}

.page-contact__inner {
  max-width: rem(600);
  @include mq('md') {
    max-width: rem(748);
  }
}

.page-contact__contents {

}

.page-contact__button-container {
  position: relative;
  display: inline-block;
  max-width: rem(202);
  width: 100%;
}

.page-contact__button::after {
  content: "";
  position: absolute;
  background-color: $base;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.page-contact__button:hover {
  color: $main;
}

.page-contact__button:hover::after {
  transform: scale(1, 1);
}

.page-contact__button:hover::before {
  z-index: -1;
}

.page-contact__button-container::before {
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(4);
  bottom: rem(-4);
  right: rem(-4);
  border: 1px solid $main;
  z-index: -2;
}

.page-contact__button-container::after {
  margin-left: rem(8);
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: rem(40);
  height: rem(6);
  border-bottom: 1px solid $base;
  border-right: 1px solid $base;
  transform: skew(45deg);
}

.page-contact__button:hover span {
  border-bottom: 1px solid $main;
  border-right: 1px solid $main;
}
