@use "global" as *;

.page-nav__inner {
  min-width: rem(344);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq('md') {
    max-width: rem(444);
  }
}

.page-nav__arrow-left {
  width: rem(38);
  height: rem(38);
  background-image: url(/assets/images/common/page-nav-prev.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s;
}

.page-nav__arrow-left:hover {
  cursor: pointer;
  opacity: .7;
}

.page-nav__arrow-right {
  width: rem(38);
  height: rem(38);
  background-image: url(/assets/images/common/page-nav-next.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s;
}

.page-nav__arrow-right:hover {
  cursor: pointer;
  opacity: .7;
}

.page-nav__items {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.page-nav__item a {
  display: inline-block;
  padding-top: rem(10);
  padding-bottom: rem(10);
  width: rem(38);
  color: $main;
  background-color: $base;
  border: 1px solid $main;
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  text-align: center;
  transition: .3s;
}

.page-nav__item.is-active a {
  color: $base;
  background-color: $main;
}

.page-nav__item a:hover {
  color: $base;
  background-color: $main;
  cursor: pointer;
}