@use "global" as *;

.page-nav {
  min-width: rem(344);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: rem(12);
  justify-content: center;
  @include mq('md') {
    max-width: rem(444);
  }
}

.page-nav__prev {
  margin-right: rem(28);
  display: block;
  width: rem(38);
  height: rem(38);
  border: 1px solid $main;
  background-color: $base;
  transition: all .3s;
  position: relative;
}

.page-nav__prev:hover {
  cursor: pointer;
  background-color: $main;
}

.page-nav__prev::after {
  content: "";
  position: absolute;
  top: 34%;
  left: 42%;
  transform: translate(-50%, -50%);
  display: block;
  width: rem(12);
  height: rem(12);
  border-left: 1px solid $main;
  border-bottom: 1px solid $main;
  transform: rotate(45deg);
  transition: all .3s;
}

.page-nav__prev:hover::after {
  border-left: 1px solid $base;
  border-bottom: 1px solid $base;
}

.page-nav__next {
  margin-left: rem(28);
  display: block;
  width: rem(38);
  height: rem(38);
  border: 1px solid $main;
  background-color: $base;
  transition: all .3s;
  position: relative;
}

.page-nav__next:hover {
  cursor: pointer;
  background-color: $main;
}

.page-nav__next::after {
  content: "";
  position: absolute;
  top: 34%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: block;
  width: rem(12);
  height: rem(12);
  border-right: 1px solid $main;
  border-top: 1px solid $main;
  transform: rotate(45deg);
  transition: all .3s;
}

.page-nav__next:hover::after {
  border-right: 1px solid $base;
  border-top: 1px solid $base;
}
.page-nav__pagers {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.page-nav__pager {
  display: inline-block;
  padding-top: rem(10);
  padding-bottom: rem(10);
  width: rem(38);
  color: $main;
  background-color: $base;
  border: 1px solid $main;
  font-family: $third-font-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  text-align: center;
  transition: .3s;
}

.page-nav__pager--pc {
  display: none;
  @include mq('md') {
    display: block;
  }
}
.page-nav__pager.current {
  color: $base;
  background-color: $main;
  cursor: default;
}

.page-nav__pager:hover {
  color: $base;
  background-color: $main;
  cursor: pointer;
}