@use "global" as *;

.page-blog {

}

.page-blog__inner {
  @include mq('md') {
    display: flex;
    gap: rem(80);
  }
}

.page-blog__content {
  @include mq('md') {
    width: 66.7%;
  }
}

.page-blog__nav {
  padding-left: rem(24);
  padding-right: rem(25);
}

.page-blog__sidebar {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: 0;
    width: 33.3%;
  }
}