@use 'global' as *;

.swiper__container {
  position: relative;
  width: 100%;
  max-width: 100vw;
  padding-right: 0;
  padding-left: $padding-sp;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    padding-left: 12.5%;
  }
}

.swiper {
  max-width: 100vw;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  @include mq('md') {
    // left: revert;
    // right: revert;
    width: rem(80);
    height: rem(80);
    display: block;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  position: absolute;
  top: rem(-320);
  width: rem(80);
  height: rem(80);
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-button-prev::after {
  background-image: url("/assets/images/common/prev.png");
  right: rem(180);
  left: auto;
}

.swiper-button-next::after {
  background-image: url("/assets/images/common/next.png");
  right: rem(180);
  left: auto;
}
