@use 'global' as *;

.swiper__container {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: $padding-sp;
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    padding-left: 12.5%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  position: absolute;
  width: 5.5%;
  height: 9.8%;
  top: rem(-80);
  left: auto;
  @include mq('md') {
    display: block;
  }
}

.swiper-button-prev {
  right: rem(340);
}

.swiper-button-next {
  right: rem(180);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.5%;
  height: 9.8%;
  display: block;
}

.swiper-button-prev::after {
  content: url("/assets/images/common/prev.png");
}

.swiper-button-next::after {
  content: url("/assets/images/common/next.png");
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
}
